doctype html
html(ng-app='fmIndexApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='shortcut icon', type='image/png', href='/favicon.ico')
    title X - A Simplified Latex
    link(href='./bower_components/semantic/dist/semantic.min.css', media='screen, projection', rel='stylesheet', type='text/css')
    link(href='./stylesheets/screen.css', media='screen, projection', rel='stylesheet', type='text/css')
    link(href='./stylesheets/print.css', media='print', rel='stylesheet', type='text/css')
    //
      if IElink(href='./stylesheets/ie.css', media='screen, projection', rel='stylesheet', type='text/css')
  body
    h1.ui.header 
      | X - A Simplified Latex
    .ui.divider
    .ui.menu
      a#pop.browse.item
        i.birthday.icon
        | Examples
        i.dropdown.icon
      .ui.popup
        h4.ui.header Pick One
          .ui.divider
          ul#examples.ui.list
      .item.right(title = "View Source")
        i.github.alternate.icon

    .ui.divided.grid
      .row
        .four.wide.column
          .ui.form
            h2.ui.header
              i.eyedropper.icon
              | X
            textarea#x(onkeyup = "bindAll()", onchange = "bindAll()") 2+1/3 = 7/3
            .ui.divider
            

        .four.wide.column
          h2.ui.header
            i.write.icon
            | Latex
          #latex Latex
          .ui.divider
          button#copy.ui.button(onclick = "copyToClipboard()") Copy to Clipboard
        .eight.wide.column
          h2.ui.header
            i.paint.brush.icon
            | Pretty
          #view Pretty
          .ui.divider
    script(type='text/javascript', src='./bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='./bower_components/semantic/dist/semantic.min.js')
    script(type='text/javascript', src='./x.js')
    script(type='text/javascript', src='./example.js')
    script(type='text/javascript', src='./index.js')
